{% include 'partials/nav.html' %}
<body class="bg-light">
<div class="container w-25 border border-primary-subtle bg-white my-5">
<div class=" ">
<h1 style="text-align: center;" class="my-3">Login</h1>
<form method="POST">
    {% csrf_token %}
    <div class="mx-5 my-3">
    <label for="username" class="form-label">Username</label>
    <div>{{form.username}}</div>
    <p class="text-danger">{{form.username.errors}}</p>
    <label for="password" class="form-label">password</label>
    <div>{{form.password}}</div>
    
    <input type ="submit" value="submit" class="btn btn-primary mt-2 mb-3 ">
</div>
</form>
</div>
</body>